[html]
directory = coverage

[xml]
output = coverage.xml

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    except AssertionError
    raise NotImplementedError

omit =
    spike*.py
    setup.py
